@import url(http://fonts.googleapis.com/css?family=Yellowtail|Calligraffitti|Roboto+Condensed:400,300,700);

/*general css rules*/
body, html{
	text-align: center;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;

}

.career-block{
	font-size: 16px;

}

.heading h1{
	font-family: 'Yellowtail', cursive;
	color: #533;

}

.heading h1 span{
	text-shadow: 2px 2px #ccc;
}


.sidebar{
	position: fixed;
	width: 10%;
	height: 100%;
	float: left;
	background-color: #533;
	color: #533;
}
.contact_image img{
	border-radius: 100px;
	float: left;
}

.main-content{
	position: relative;
	width: 90%;
	float: right;
	padding: 0px 40px;
}

.menu a{
	text-decoration: none;
	padding-left: 10px;
}

.block{
	margin: 40px 0px;
}

.whois{
	font-size: 18px;
	padding: 5px;
	background-color: #ccc;
	border-radius: 20px;
	margin: -22px 10px 40px 10px;
}

.clearfix{
	clear:both;
}

.profile-picture{
	position: relative;
	text-align: right;
	padding-right: 50px;
	float: left;
	width: 50%;
}

.contact-links{
	padding-top: 55px;
	position: relative;
	padding: 4px;
	text-align: left;
	float: right;
	width: 50%;
	box-shadow: 1px 1px 6px 8px #ccc;
	border-radius: 0px 50px 50px 0px;
	padding-left: 75px;
}
.contact-box{
	position: relative;
	width: 65%;
	float: left;
	text-align: left;
	padding: 10px;
	margin-left: -463px;
	margin-top: 40px;
	z-index: -1;
	padding-left: 24px;
}

.social-media-btns{
	border-radius: 0px;
	margin: 7px 5px;
	box-shadow: 1px 1px 6px 8px #fff;
}


/*Css for mobile phones */
@media(max-width: 320px){ 
	.heading h1{
		font-size: 15.5px;
	}

	.heading h1 span{
		font-size: 18px;
	}

	.menu{
		font-size: 14px;
		margin: 20px 0px;
	}

	.greetings{
		margin: 10px 0px 23px 0px;
		font-size: 14px;
	}

	img{
		border-radius: 100px;
		margin: 20px 0px;
	}

	.bio{
		font-size: 14px;

	}

	.contact_image img{
		border-radius: 100px;
		float: left;

	}



	.family-image{
		width:100%;
	}

	/*.family-image img{
		border-radius: 100px;
	}*/

	.relationship-image{
		/*width:16.6666667%;
		float: left;*/
	}

	.footer{
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 12px;
	}
}

@media(min-width: 400px) and (max-width:800px){
	body{
		background-image: url("../Images/slack_bg.JPG");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-color: white;
	}

	.heading h1{
		font-size: 28px;
	}

	.heading h1 span{
		font-size: 50px;
	}

	.menu{
		font-size: 20px;
		margin: 20px 0px;
	}



	.greetings{
		margin: 10px 0px 23px 0px;
	}
	
	img{
		border-radius: 100px;
		margin: 20px 0px;
		box-shadow: 1px 1px 6px 8px #ccc;
	}

	.bio{
		font-size: 18px;

	}

	.family-image{
		width:50%;
		float: left;
	}
	/*.family-image img{
		border-radius: 100px;
	*/

	.relationship-image{
		width:16.6666667%;
		float: left;
	}

	.whois{margin: -22px 40px 40px 40px;}

	.footer{
		margin-top: 70x;
		font-size: 15px;
	}

	
}

.education{
	text-align: left;
	position:relative;
	display: inline-block;
	margin-left: 10px;
	color: red;
}
@media(min-width: 800px){
	body{
		background-image: url("../Images/slack_bg.JPG");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed; 
		background-color: white;
	}

	.heading h1{
		font-size: 28px;
	}

	.heading h1 span{
		font-size: 50px;
	}

	.menu{
		font-size: 20px;
		margin: 20px 0px;
	}


	.greetings{
		margin: 10px 0px 23px 0px;
	}
	
	img{
		border-radius: 100px;
		margin: 20px 0px;
		box-shadow: 1px 1px 6px 8px #ccc;
	}

	.bio{
		font-size: 18px;

	}

	.family-image{
		width:20%;
		float: left;
	}

	.relationship-image{
		width:16.6666667%;
		float: left;
	}

	.footer{
		margin-top: 70px;
		font-size: 15px;
		
	}
}

